<h2>Driver Dashboard</h2>

<p>Welcome, {{ request.user.username }}!</p>

<h3>Your Upcoming and Past Shifts:</h3>

<ul>
{% for shift in shifts %}
    <li>
        {{ shift.start_datetime }} - {{ shift.extra_info }}
    </li>
{% empty %}
    <li>No shifts assigned yet.</li>
{% endfor %}
</ul>

<a href="{% url 'logout' %}">Logout</a>

<a href="{% url 'holiday_request' %}">Request Holiday</a>

<footer class="bg-light text-center text-muted py-3 mt-5 fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-start">
                <div class="footer-links-box p-2 d-inline-block">
                    <a href="{% url 'terms_of_use' %}" class="text-muted me-4">Terms of Use</a>
                    <span class="spacer"></span>
                    <a href="#" class="text-muted">Support: Knowledge Hub</a>
                </div>
            </div>
            <div class="col-md-6 text-end">
                <span class="spacer"></span>
                <small>© DriverPoint, All Rights Reserved</small>
            </div>
        </div>
    </div>
</footer>
